.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(85px * 8);
  height: calc(85px * 8);
  display: flex;
  flex-wrap: wrap;
  border: solid slategrey;
}

.cell {
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: whitesmoke;
}

.black {
  background-color: slategrey;
}

.selectedCell {}

.checker {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  position: relative;
}

.whiteChecker {
  background-color: whitesmoke;
}


.blackChecker {
  background-color: #1c1c1c;
}

.selected {
  border: solid green;
}